body {
    position: relative; 
    padding-top: 70px;
}

.body-error
{
    background-color: #563d7c;
}
.content-error
{
    background-color: #6C5491;
    padding: 50px;
}
.msg-error
{
    color: #FFFFFF;
}