body {
    position: relative; 
    padding-top: 70px;
}

.body-error
{
    background-color: #0000FF;
}
.content-error
{
    background-color: #0f00b0;
    padding: 50px;
}
.msg-error
{
    color: #FFFFFF;
}